
/* Universal Styles */

body {
    background-color: #f2e8cf;
    color: #f2e8cf;
}

h1 {
    font-size: 5rem;
    font-family: "Work Sans", sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    text-indent: 2rem;
    padding: 1rem 3.5rem;
}

em {
    font-weight: 600;
    font-style: italic;
}

/* Hamburger menu and button*/

button {
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background: none;
    border: 3px solid #f2e8cf;
    outline: 3px solid #f2e8cf;
    outline-offset: -3px;
    transform: outline-offset .30ms;
}

#closebtn {
    font-size: 2em;
    color: #f2e8cf;
}

svg {
    fill: #f2e8cf;
}

#openbtn:hover,
#openbtn:focus {
  outline-offset: 2px;
}

#menu {
    width: 0; 
    position: fixed; 
    right: 0;
    z-index: 1; 
    background-color: #BC6C25;
    opacity: 0.9;
    padding-top: 3rem; 
    transition: width .5s; 
  }

  #menu a {
    padding: 10px 8px 32px 32px;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #f2e8cf;
    display: block;
    transition: color 0.3s;
  }

  #menu a:hover,
  #menu a:focus {
    color: #ffff;
    font-size: 2.2rem;
  }

  #menu a:active{
    text-decoration: underline;
  }

  /* Banner */

#banner {
    background-image: url('./images/axe-block.jpg');
    background-size: cover;
    width: 100%;
    height: 40rem;
}

.header-text {
    width: 20rem;
    background-color: #283618;
    opacity: .9;
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-radius: 10px;
}

.header-text h1 {
    text-align: center;
    padding-top: 1rem;
}

.header-text p {
    font-size: 2rem;
    padding: 2rem 2rem;
    line-height: 2.5rem;
    text-align: center;
}

/* Date Box */

#date-box {
    width: 18rem;
    background-color: #DDA15E;
    position: absolute;
    top: 30rem;
    right: 3rem;
    opacity: .9;
    border-radius: 10px;
    text-align: center;
}

#date-box p {
    font-family: 'Open Sans', sans-serif;
    padding: .5rem;
    color: #f2e8cf;
    font-style: italic;
}

#date-box a {
    color: #283618;
    font-weight: 600;
}

/* Greenwood section */

#greenwood-box {
    display: grid; 
    width: 100%;
    max-height: 80rem;
    max-width: 65rem;
    margin: 3rem auto;
    gap: .5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#greenwood-box img {
    width: 100%;
    height: 100%;
}

#greenwood-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

#greenwood-box p  {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75rem;
}

.box-1 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2 ;
}

.box-2 {
    background-color: #BC6C25;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.box-3 {
    background-color: #606C38;
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.box-3 a {
    color: #f2e8cf;
    font-weight: 600;
}

.box-4 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2 ;
}

/* Resources section */

#resources {
    display: grid; 
    width: 100%;
    max-width: 75rem;
    margin: 5rem auto;
    grid-template-columns: repeat(2, 1fr);  
}
#resources h2 {
    font-family: 'Open Sans', sans-serif;
    color: #1f2421;
    font-size: 2rem;
    padding: 1rem 2rem;
}

#resources p  {
    font-family: 'Open Sans', sans-serif;
    color: #1f2421;
    line-height: 1.5rem;
}

#resources ul  {
    font-family: 'Open Sans', sans-serif;
    color: #1f2421;
    list-style: square;
    margin-left: 4rem;
    padding: 1rem;
    line-height: 2rem;
}

.column-2 a {
    color: #BC6C25;
    font-weight: 600;
}

.column-1 {
    grid-column: 1 / span 1;
}

.column-2 {
    grid-column: 2 / span 1
}


/* Tools section */

#tool-box{
    display: grid; 
    width: 100%;
    max-width: 75rem;
    margin: 5rem auto;
    gap: 1rem ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4rem repeat(3, 1fr);
}

#tool-box img {
    width: 100%;
    height: 100%;
}

#tool-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 3rem;
}

#tool-box p  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;

    line-height: 1.75rem;
}

#tool-header {
    background-color: #283618;
    grid-column: 2 / span 5;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#tool-header h2 {
    padding: 0 2rem;
}

.row-1 {
    background-color: #DDA15E;
    grid-column: 5 / span 7;   
    grid-row: 2 / span 1;
}

.row-2 {
    background-color: #606C38;
    grid-column: 2 / span 7;   
    grid-row: 3 / span 1;
}

.row-2 a {
    color: #f2e8cf;
    font-weight: 600;
}


.row-3 {
    background-color: #BC6C25;
    grid-column: 5 / span 7;   
    grid-row: 4 / span 1;
}

.img-1 {
    grid-column: 1 / span 4;   
    grid-row: 2 / span 1;
}

.img-2 {
    grid-column: 9 / span 4;   
    grid-row: 3 / span 1;
}

.img-3 {
    grid-column: 1 / span 4;   
    grid-row: 4 / span 1;
}

/* Footer */

.footer {
    background-color: #283618;
    width: 100%;
    height: 5rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
}

.footer a {
    color: #f2e8cf;
   
}

.footer p {
    margin-top: 2rem;
    padding: 0 2rem;
} 

/* Media Queries */

@media screen and (max-width: 1080px) {

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
        padding: 1rem 1rem;

    }

    #menu a {
        font-size: 1.25rem;
        padding: 8px 8px 15px 10px;
    }

    #menu a:hover,
    #menu a:focus {
    color: #ffff;
    font-size: 1.45rem;
    }

    #menu a:active{
      text-decoration: underline;
  }

    #banner p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .header-text {
        width: 12rem;
        top: 6rem;
        
    }

    #date-box{
        top: 28rem;
    }

    #greenwood-box {
        display: block;
        width: 90%;
        max-height: none;
    }

    .box-1, .box-4 {
        width: 70%;
        margin: 0 auto;
    }

    .box-1, .box-3, .box-4 {
        margin-top: 1.5rem; 
    }

    #resources, #tool-box {
        display: block;
        width: 80%;
    }

    #tool-header {
        width: 75%;
    }

    #tool-header h2 {
        font-size: 1.5rem;
    }

    #tool-box p  {
        font-size: 1rem;
       
    }
    
    .img-1, .img-2, .img-3 {
        width: 70%;
        margin: 0 auto;
    }

    .img-1, .img-2, .img-3, .row-1, .row-2, .row-3 {
        margin-top: 1.5rem;
    }

    .footer {
        margin-top: 3rem;
    }

    .footer p {
        font-size: .75rem;
    }
}


    